body {
    background-color: white;
    max-width: 1150px;
    margin-top: 100px;
    margin-left: 100px;
}
.grid-container {
    display: grid;
    grid-template-columns: 500px 600px;
    grid-template-rows: 150px auto auto;
    column-gap: 20px;
    row-gap: 5px;
}
.grid-item-image {
    grid-column-start: 1;
    grid-column-end: span 1;
    justify-self: center;
    align-items: center;
}
.grid-item-content {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 3;
    align-self: center;
    text-align: left;
}
h1 {
    font-size: 35px
}
p {
    font-size: 25px
}
